@{
    ViewData["Title"] = "Message Dashboard";
    Layout="~/Views/Shared/_Layout.cshtml";
}

@using TheWall.Models
@model TheWall.Models.Message

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.js"
        asp-fallback-test="window.jQuery">
</script>

<link rel="stylesheet" type="text/css" href="~/css/dashboard.css">

<h1>Dashboard</h1>
<a href="logout">Log Out (Back to main page)</a>

<div id="message-form-div">
    <h4>Post a message:</h4>

    <form id="message-form" asp-controller="Message" asp-action="Dashboard" method="POST">
        <div>
            <textarea id="message-textarea" asp-for="MessageText"></textarea>            
        </div>
        <div>
            <input class="submit-button" type="submit" Value="Post a Message">            
        </div>
    </form>
</div>

@{
    foreach(var message in @ViewBag.messages) {

        foreach (var user in @ViewBag.users) {
            if (@message["users_id"] == @user["id"]) {
                <p id="message-author">@user["first_name"] @user["last_name"] - @message["created_at"].ToString("ddd, MMM d, yyyy h:m tt")</p>
            }
        }

        <p id="message-text">@message["message"]</p>
        
        if (@message["users_id"] == @ViewBag.userId) {
            <form asp-controller="Message" asp-action="RemoveMessage" method="POST">
                <input type="hidden" name="Id" Value=@message["id"]>
                <input type="submit" Value="Delete">
            </form>
        }

        foreach(var comment in @ViewBag.comments) {
            if (@message["id"] == @comment["messages_id"]) {
                <p id="comment-text">@comment["comment"]</p>
            }
        }
        <h5>Post a Comment:</h5>
        <form action="comments" method="POST">
            <div>
                <textarea id="comment-textarea" name="CommentText"></textarea>
                <input type="hidden" name="MessageId" Value=@message["id"]>
            </div>
            <div>
                <input type="submit" Value="Post a Comment">
            </div>

        </form>
    }
}
