

<h1>@ViewBag.trail.TrailName</h1>
<h2>Description</h2>
<p>@ViewBag.trail.Description</p>
<h2>Trail Length</h2>
<p>@ViewBag.trail.TrailLength</p>
<h2>Elevation Change</h2>
<p>@ViewBag.trail.ElevationChange</p>
<h2>Longitude</h2>
<p>@ViewBag.trail.Longitude<span> @ViewBag.trail.LongitudeHemisphere</span></p>
<h2>Latitude</h2>
<p>@ViewBag.trail.Latitude<span> @ViewBag.trail.LatitudeHemisphere</span></p>
<a href="/index">Go Home</a>